    <!-- Registration Form -->
    <div class="container">
        <form role="form" class="col-xs-12 col-sm-12 col-lg-5 col-centered">
            <div class="form-group" id="reg_form">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" id="usr" placeholder="Your user name">
                </div><br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" id="pwd" placeholder="Your password">
                </div>
                <input type="submit" class="btn btn-primary" id="reg_button" value="Login" />
                <input type="submit" class="btn btn-danger" id="reg_button" value="Cancel" />
            </div> 
        </form>
    </div>