    <!-- Registration Form -->
    <div class="container" class="row">
        <form role="form" class="col-xs-12 col-sm-12 col-lg-5 col-centered">
            <div class="form-group" id="reg_form">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" id="usr" placeholder="Enter your user name">
                </div><br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                    <input type="password" class="form-control" id="pwd" placeholder="Enter your password">
                </div><br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock" aria-hidden="true"></i></span>
                    <input type="text" class="form-control" id="pwd_cont" placeholder="Reinsert your password">
                </div><br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i></span>
                    <input type="email" class="form-control" id="email" placeholder="Enter your e-mail">
                </div>
                <input type="submit" class="btn btn-primary" id="reg_button" value="Register" />
                <input type="submit" class="btn btn-danger" id="reg_button" value="Cancel" />
            </div> 
        </form>
    </div>